<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=ivneioml">
	<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/layer/3.0.1/mobile/need/layer.min.css" media="all">

</head>
<body data-amui="2.x">
	
<div class="amz-banner"><div class="amz-container am-scrollspy-init am-scrollspy-inview am-animation-scale-up" data-am-scrollspy="{animation: 'scale-up', repeat: false}"><h1>CSS</h1><p>浏览器默认样式统一，基础样式，网格，表格、表单、按钮及常用组件样式。</p></div></div>
<section class="" id="amz-main" data-tag="css-table">
<div class="am-g am-g-fixed">
	<form class="am-form">
		<fieldset>
			<legend>设置列表</legend>

			<div class="am-form-group">
				<label for="path">请求地址</label>
				<input type="email" class="" id="path" name="path" value="" placeholder="http://IP:[PORT]/PATH">
			</div>

			<div class="am-form-group">
				<label for="keyword">关键字</label>
				<textarea class="" rows="5" id="keyword" name="keyword"  placeholder="多个关键词请用中文逗号' , '隔开" ></textarea>
			</div>

				<input type="hidden" name="id" id="id" value="" />
			<p><button type="button" id="btn" class="am-btn am-btn-success">提交</button></p>
		</fieldset>
	</form>
</div>
</section>

</body>
<script>

	$(function(){
		$("#btn").click(function(){
			$.ajax({
				type:"POST",
				url:"/admin/check",
				data:$("form").serialize(),
				dataType:"JSON",
				success:function(data){
					layer.msg(data.info);
					window.location.href="/admin/index";
				}
			})
		})

	})

	function GetUrlPara()
	{
		var url = document.location.toString();
		var arrUrl = url.split("?");
		var para = arrUrl[1];
		return para;
	}
	var param =GetUrlPara();
	if(typeof(param)!="undefined"){
		$.ajax({
			type:'GET',
			url:"/admin/getdata",
			data:param,
			dataType:"JSON",
			beforeSend:function(){
				layer.load(1, {
					shade: [0.1,'#fff'] //0.1透明度的白色背景
				});
			},
			success:function(data){
				layer.closeAll();
				if(data.status == 1){
					$("#path").val(data.data.path);
					$("#keyword").text(data.data.keyword);
					$("#id").val(data.data.id);
				}else{
					layer.msg(data.info);
				}
			}
		})


	}


</script>
</html>